:root{
  --orange-color: #ff7f00;
  --black-color: #001514;
  --white-color: #fbfffe;
  --large-box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  --small-box-shadow: 0px 0px 5px 1px rgba(0,0,0, 0.2) ; 
}

/* 

var(--black-color , #001514)
var(--orange-color, #ff7f00)
var(--white-color , #fbfffe) 

*/

@font-face{
  font-family: "Condi";
  src: url('/fonts/roboto-condensed/RobotoCondensed-Italic.ttf');
  src: url('/fonts/roboto-condensed/RobotoCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  border: 1px solid var(--orange-color, #ff7f00);
  border-radius: 5px;
  font-family: "Condi", sans-serif !important;
  background: var(--white-color , #fbfffe) !important;
}


button:hover{
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ;  
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}

input, textarea{
  background: transparent;
  color: var(--black-color , #001514);
}

.yarns-modal-container{
  width:100vw;
  height:100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.yarns-modal-backdrop{
  background: var(--orange-color, #ff7f00);
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.yarns-actualmodal{
  width: 40%;
  min-width: 320px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  bottom: 0;
  margin: 0 auto;
}

.yarns-actualmodal-header{
  background: var(--orange-color, #ff7f00);
  color: var(--black-color , #001514);
  text-align: center;
  position: relative;
  padding: 10px 0;
}

.yarns-actualmodal-header h2{
  margin-bottom: 0;
  font-size: 30px;
}

.yarns-actualmodal-header button{
  border:none;
  background: transparent;
  color: var(--black-color , #001514);
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
}

.yarns-actualmodal-body{
  background: var(--white-color , #fbfffe) ;
  color: var(--black-color , #001514);
  display:flex;
  align-items: center;
  justify-content: center;  
  min-height: 200px;
  font-size: 25px;
}

.index-nav{
  display: flex;
  background: var(--white-color , #fbfffe);
  position: fixed;
  width: 100%;
  padding: 25px 5%;
  top: 0;
  left: 0;
  z-index: 1000;
  /* box-shadow: 1px 4px 4px -5px rgba(0,0,0, .5); */
  border: 1px solid var(--orange-color, #ff7f00);
  border-bottom: none;
}

.index-brand{
  width:15%;
}

.index-brand svg{
  fill:var(--orange-color, #ff7f00);
  height: 50px;
  transform: scale(1.4);
  width: 50%;
}
.index-navlinks{
  width: 85%;
    display: flex;
    justify-content: flex-end;
}

.index-navlinks svg{
  margin-right: 5px;
  margin-top: -5px;
}

.index-navlinks svg.newnotification {
  fill: var(--black-color , #001514);
}

.index-navlinks a{
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none !important;
}

.index-login{
  background: var(--white-color , #fbfffe);
  border: 2px solid var(--orange-color, #ff7f00);
  margin-right: 10px;
  border-radius: 5px;
}

.index-login a{
  color: var(--orange-color, #ff7f00) !important;
}

.index-signup{
  background: var(--orange-color, #ff7f00);
  border: none;
  border-radius: 5px;
}

.index-signup a{
  color: var(--white-color , #fbfffe) !important;
}

.index-profile a, .index-notifications a, .index-logout a {
  color: var(--orange-color, #ff7f00) !important;
}

.index-profile, .index-notifications, .index-logout{
  border: none;
  background: transparent;
  box-shadow: none !important;
}

.index-nav-night-toggle{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}

.index-header{
  text-align: center;
  width:100%;
  height: 300px;
  font-size: 35px;
  margin-top: 100px;
  padding: 120px 0;
  color: var(--black-color , #001514);
}

.index-header svg{
  width:70px;
  height: 70px;
}

.index-header .cls-1{
  fill:var(--black-color , #001514);
}

.index-header .cls-2{
  fill:var(--orange-color, #ff7f00);
}

.index-forumscard{
  width: 70%;
  background: var(--white-color , #fbfffe);
  box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2));
  margin: 10px auto;
}

.index-forumscard h3{
  color: var(--orange-color, #ff7f00);
  border-bottom: 3px solid var(--orange-color, #ff7f00);
  width:fit-content;
  margin: 10px auto 5px;
  padding: 15px 0 2px;
}

.index-forumscard-estate{
  display: flex;
  /* margin: 20px 0px; */
}

.index-forumscard-estate-item{
  padding: 20px 0;
  background: var(--black-color , #001514);
  color: var(--orange-color, #ff7f00) !important ;
  /* height: 60px; */
  width: 180px;
  text-align: center;
}

.index-forumscard-estate-item img{
  margin: 0 10px 0 -15px;
  width: 25px;
}

.index-forumscard-houses{
  width: calc(100% - 180px);
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

}

.index-forumscard-house{
  color: var(--orange-color, #ff7f00) !important;
  text-align: center;
  padding: 20px 10px;
}

.index-latestrooms{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: 100px;
}

.index-latestrooms h3{
  color: var(--orange-color, #ff7f00);
  border-bottom: 3px solid var(--orange-color, #ff7f00);
  width:fit-content;
  margin: 10px auto 5px;
  padding: 15px 0 2px;
}

.index-latestrooms-item {
  display: flex;
  box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2));
  font-size: 15px;
  width: 70%;
  margin: 30px auto;
}

.index-latestrooms-house{
  background: var(--black-color , #001514);
  width: 25%;
  padding: 10px 0;
  color: var(--orange-color, #ff7f00) !important;
}

.index-latestrooms-room{
  background: var(--white-color , #fbfffe);
  width: 75%;
  padding: 10px 0;
  color: var(--orange-color, #ff7f00) !important;
}

.footer{
  background: var(--orange-color, #ff7f00);
  color: var(--black-color , #001514);
  text-align: center;
  width: 100%;
  height: 250px;
  margin-top: 100px;
  padding: 40px 0 0;
}

.footer svg{
  width: 80px;
  height: 80px;
  fill: var(--black-color , #001514);
  margin-bottom: 30px;
}

.footer a{
  border-bottom: 2px solid var(--black-color , #001514);
  color: var(--black-color , #001514) !important
}

.footer-copyright{
  font-size: 10px;
}

.loginsection{
  width: 50%;
  margin: 170px auto 70px;
}

.loginsection-header{
  color: var(--black-color , #001514);
  text-align: center;
  margin: 0 0 30px;
}

.loginsection-yarns{
  color: var(--orange-color, #ff7f00);
}

.loginsection form{
  box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2));
  text-align: center;  
  padding: 40px 0 0;
}

.loginsection form span{
  position: relative;
}

.loginsection input{
  border: none;
  border-bottom: 2px solid var(--black-color , #001514);
  margin: 20px 10px;
  width: 80%;
}

.loginsection input:focus {
  border-bottom: 2px solid var(--orange-color, #ff7f00);
  outline: none;
}

.login-section-btn {
  background: var(--orange-color, #ff7f00);
  color: var(--white-color , #fbfffe);
  margin: 20px auto 0;
  padding: 10px 15px;
  width: 100%;
  font-size: 20px;
  border: none;
}

.loginsection-usernamecheckingimg{
  position: absolute;
  top:-8px;
  left:-40px;
  width:30px;
  height: 30px;
}

.logging-in-svg{
  position: fixed;
  width:100vw;
  height: 100vh;
  top:0;
  left:0;
  background: rgba(0,0,0, 0.5);
  color: var(--orange-color, #ff7f00);
  display: flex;
  justify-content: center;
  align-items: center;
}

.estatedetails-section {
  padding-top: 150px;
}

.estatedetails-section-header{
    display: flex;
    padding: 10px 80px;
    justify-content: space-between;
}

.estatedetails-section-header-estate{
  width: fit-content;
  height: 300px;
  background-color: var(--orange-color, #ff7f00);
  border-radius: 10px;
  /* text-align: center; */
  padding: 90px 60px 0 15px;
}

.estatedetails-section-header-estate img{
  width: 120px;
  margin-bottom: 10px;
}

.estatedetails-section-header-estate h2{
  font-size: 55px;
  color: #001514;
}

.estatedetails-section-header-houses {
  width: 70%;
  /* box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2)); */
  background: var(--white-color , #fbfffe);
  text-align: center;
  border-radius: 10px;
}

.estatedetails-section-header-houses h3{
  width: 80%;
  text-align: center;
  border-bottom: 1px solid var(--orange-color, #ff7f00);
  margin: 20px auto 15px;
  font-size: 30px;
  color: var(--orange-color, #ff7f00) !important;
}

.estatedetails-section-header-houses-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.estatedetails-section-header-houses-section-link{
  color: var(--orange-color, #ff7f00) !important;
  font-size: 20px;
  padding: 10px 15px;
}

.estatedetails-section-rooms{
  width: 100%;
  margin-top: 40px;
  position: relative;
  text-align: center;
  padding: 0 80px;
}

.estatedetails-section-rooms h2{
  color: var(--orange-color, #ff7f00) !important;
  font-size: 40px;
  margin-bottom: 30px;
}

.estatedetails-section-rooms-toggle{
  position: absolute;
  top: 20px;
  right: 80px;
  display: flex;
}

.estatedetails-section-room-toggle-btn{
  color: var(--orange-color, #ff7f00);
  background: var(--black-color , #001514);
  border: none;
  cursor: pointer;
}

.estatedetails-section-room-toggle-btn-active{
  background: var(--white-color , #fbfffe);
  color: var(--orange-color, #ff7f00);
  border: none;
  cursor: pointer;
}

.estatedetails-section-room-item{
  box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2));
  padding: 10px 0;
  text-align: center;
  background: var(--white-color , #fbfffe);
  color: var(--orange-color, #ff7f00) !important;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.houseDetails{
  margin-top: 100px;
  position: relative;
}

.houseDetails-Header{
  background: var(--orange-color, #ff7f00);
  width: 100%;
  height: 300px;
  color: var(--white-color , #fbfffe);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 70px 0;
}

.houseDetails-Header-Name{
  position: relative;
  width:fit-content;
}

.houseDetails-Header-Name hr{
  position: absolute;
  width:100%;
  border: 2px solid var(--white-color , #fbfffe);
  left: 0;
}

.houseDetails-Header-Name h2{
  font-size: 50px;
}

.houseDetails-Header-Name-FirstLine{
  top: -20px;
}

.houseDetails-Header-Name-SecondLine{
  bottom: -7px;
}

.houseDetails-Main{
  position: relative;
  width: 100%;
}

.houseDetails-Rooms{
  padding: 60px 0;
  height: 290px;
  position: relative;
  top: -50px;
  width: 70%;
  margin: 0 auto;
  background: var(--white-color , #fbfffe);
  box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2)); 
  z-index: 200; 
}

.houseDetails-Rooms-Item{
  display: inline-block;
  position: relative;
  width: 90%;
  margin: 8px 5%;
  padding: 5px 0;
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
  text-align: center;
}

.houseDetails-Rooms-Item-Title{
  background: var(--white-color , #fbfffe);
  color:var(--orange-color, #ff7f00);
}

.houseDetails-Rooms-Item-Comments{
    width: 50px;
    padding: 5px;
    color: white;
    background: var(--orange-color, #ff7f00);
    position: absolute;
    right: 0;
    top:0;
}

.houseDetails-addroom{
    text-decoration: none !important;
    color: var(--white-color , #fbfffe) !important;
    background: var(--orange-color, #ff7f00);
    border: none;
    position: absolute;
    top: -75px;
    right: 0;
    left: 0;
    z-index: 201;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 33px;
    font-family: monospace;
    height: 50px;
    width: 50px;
    transform: scale(1.5);
    text-align: center;
    cursor:pointer;
    border: 1px solid var(--white-color , #fbfffe);
}

.houseDetails-addroom:hover {
box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ;
}

.roomdetails-section{
  margin-top: 100px;
}

.roomdetails-section-header{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: var(--orange-color, #ff7f00);
  height:200px;
}

.roomdetails-section-commenttitle{
  font-size: 50px;
  color:var(--white-color , #fbfffe);
  width: 100%;
  text-align: center;
}

.roomdetails-section-commentno{
  color: var(--black-color , #001514);
  background: var(--white-color , #fbfffe);
  border-radius: 30px;
  padding: 5px;
  margin-top: -90px;
}

.roomdetails-section main {
  width: 100%;
  padding: 30px 0;
  position: relative;
  z-index: 200;
}

.roomdetails-section .roomDetails-addcommenttop{
    text-decoration: none !important;
    color: var(--white-color , #fbfffe) !important;
    background: var(--orange-color, #ff7f00);
    border: none;
    position: absolute;
    top: -27px;
    right: 0;
    left: 0;
    z-index: 201;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 33px;
    font-family: monospace;
    height: 50px;
    width: 50px;
    transform: scale(1.5);
    text-align: center;
    cursor:pointer;
    border: 1px solid var(--white-color , #fbfffe);
}

.roomdetails-section .comment{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
}

.roomdetails-section .comment .comment-details{
  background: var(--orange-color, #ff7f00);
  width: 100%;
  color: var(--white-color , #fbfffe);
  padding: 10px;
  text-align: center;
  font-size:15px;
  position: relative;
  order: 2;
  display: flex;
}

.roomdetails-section .comment .comment-details .comment-details-user{
  font-size: 20px;
  color: var(--white-color , #fbfffe);
  display: block;
  width: 40%;
  text-align: left;
}

.roomdetails-section .comment .comment-details .comment-accolades{
  color: var(--black-color , #001514);
  background: var(--white-color , #fbfffe);
  padding: 0 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.roomdetails-section .comment .comment-details .comment-timecreated-time{
  display: block;
}

.roomdetails-section .comment .comment-details .comment-timecreated-date{
  display: block;
}

.roomdetails-section .comment .comment-details .comment-repliestoggle{
  color: var(--white-color , #fbfffe) !important;
  position: absolute;
  bottom: 10px;
  left:0;
  width: 100%;
  display: block;
  text-align: center;
}

.roomdetails-section .comment .comment-message{
  width: 100%;
  order: 1;
  min-height: 150px;
  background: var(--white-color , #fbfffe);
  color: var(--black-color , #001514);
  padding: 10px;
  font-size: 20px;
  position: relative;
  border-radius: 5px;
}

.roomdetails-section .comment .comment-message .comment-message-image{
  width: 80%;
  margin-top: 30px;
  max-height: 300px;
  text-align: center;
}

.roomdetails-section .comment .comment-message .comment-buttons{
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 40px;
}

.roomdetails-section .comment .comment-message .comment-buttons button{
    border-radius: 50%;
    background: var(--orange-color, #ff7f00);
    color: var(--white-color , #fbfffe);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
}

.comment-button-img{
  width: 75%;
  height: 70%;
  margin-bottom: 25%;
}

.comment-button-svg{
  width: 75%;
  height: 70%;
  margin-bottom: 40%;
  fill: var(--white-color , #fbfffe);
}

.roomdetails-section .comment .comment-message .comment-buttons button:hover{
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
}

.roomdetails-section .comment .comment-message .comment-buttons .comment-button-accolades{
  margin-right: 10px;
}

.roomdetails-section .comment .comment-message .comment-buttons .comment-button-accolades-given{
  margin-right: 10px;
}

.roomdetails-section .comment .comment-message .comment-buttons .comment-button-accolades-given .comment-button-svg {
  fill: var(--black-color , #001514);
}

.roomdetails-section .comment .comment-message .comment-buttons .comment-button-reply-showing .comment-button-svg {
  fill: var(--black-color , #001514);
}

.roomdetails-section .comment .comment-message .comment-button-delete{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  background: var(--orange-color, #ff7f00);
  color: var(--white-color , #fbfffe);
  cursor: pointer;
  outline: none;
  border: none;
  width: 50px;
}

.roomdetails-section .comment-replies{
  width:80%;
  margin: 10px auto 5px;
}

.roomdetails-section .comment-replies .reply{
  display:flex;
  width: 90%;
  margin: 5px 0;
  margin-right: auto;
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
}

.roomdetails-section .comment-replies .reply-info{
  width: 20%;
  background: var(--orange-color, #ff7f00);
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 10px;
}

.roomdetails-section .comment-replies .reply-info a{
  color: var(--white-color , #fbfffe) !important;
}

.roomdetails-section .comment-replies .reply-message{
  color: var(--black-color , #001514);
  background: var(--white-color , #fbfffe);
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  position: relative;
  width: 80%;
}

.roomdetails-section .comment-replies .reply-message .reply-delete{

position: absolute;
top: 0;
right: 0;
background: var(--orange-color, #ff7f00);
border: none;
padding: 0 15px;
color: var(--white-color , #fbfffe);
}

.comment-reply-form{
  width: 80%;
  background: var(--white-color , #fbfffe);
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
  margin: 0 auto;
  margin-top: 10px;
  padding:  0;
  text-align: center;
}

.comment-reply-textarea{
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
}

/* .comment-reply-textarea:focus{
  border: 1px solid var(--orange-color, #ff7f00);
} */

.comment-reply-btn{
    background: var(--orange-color, #ff7f00);
    color: var(--white-color , #fbfffe);
    cursor: pointer;
    padding: 10px;
    border: none;
    width:100%;
    font-size: 25px;
}

.comment-reply-btn:hover{
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ;
}



.addroom-section{
  margin-top: 120px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.addroom-section h2{
  color: var(--black-color , #001514);
  margin-bottom: 5px;
  font-size: 40px;
}

.addroom-section p{
  color: var(--black-color , #001514);
  margin: 0 auto;
  margin-bottom: 15px;
  width: 80%;
}

.addroom-section form{
  width: 70%;
  margin: 0 auto;
  background: var(--white-color , #fbfffe);
  padding: 30px 0 0;
  box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ;
}

.addroom-section input{
  width: 70%;
  border:none;
  border-bottom: 2px solid var(--black-color , #001514);
  margin: 10px 0;
  background: transparent;
  text-align: center;
}

.addroom-section label{
  width: 10%;
  text-align: left;
  color: var(--black-color , #001514);
}

.addroom-section input:focus{
  border-bottom: 2px solid var(--orange-color, #ff7f00);
}

.addroom-section textarea{
  width: 80%;
  height: 150px;
  border:none;
  border: 2px solid var(--black-color , #001514);
  margin: 30px 0 0;
  background: transparent;
  border-radius: 5px;
  padding: 5px 10px;
}

.addroom-section textarea:focus{
  border: 2px solid var(--orange-color, #ff7f00);
}


.addroom-section-form-submitbtn{
  width: 100%;
  background: var(--orange-color, #ff7f00);
  color: var(--white-color , #fbfffe);
  padding: 10px 0;
  border: none;
}

.addroom-section-form-addImageBtn{
    border-radius: 50%;
    background: var(--orange-color, #ff7f00);
    color: var(--white-color , #fbfffe);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

.addroom-section-form-addImageBtn-svg{
  fill: var(--white-color , #fbfffe);
  width : 32px; 
  height : 32px; 
}

.addroom-section-form-addImageInput{
  display: none;
}

.addroom-section-form-addImageBtn-wrapper{
  text-align: right;
  width: 90%;
}

.notifications-section{
  margin-top: 120px;
  padding: 0 7%;
}

.notifications-section h2 {
  text-align: center;
  margin-bottom: 40px;
  color:var(--black-color , #001514);
}

.notification-item{
  width: 100%;
  background-color: transparent;
  transition: background-color 2s linear;
}

.notification-item .isNotRead{
  background-color: rgba(255, 127, 0 , .3);
}

.notifications-section hr{
  width: 90%;
  margin: 30px auto;
  border: 0.5px solid var(--orange-color , #ff7f00);
}

.notification-item-core{
  display: flex;
}

.notification-item-img{
  width: 20%;
  text-align: center;
}

.notification-item-img svg{
  width: 50px;
  height: 50px;
  fill: var(--orange-color , #ff7f00);
}

.notification-item-msg{
  width: 80%;
  display: flex;
  align-items: center;
  color: var(--black-color , #001514);
}

.notification-item-msg p{
  width: 75%;
}

.notification-item-msg > .notification-time{
  width: 25%;
  text-align: center;
  color: var(--orange-color , #ff7f00);
  opacity: 0.5;
}
.notifications-empty-state{
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-empty-state h4{
  color: var(--orange-color , #ff7f00);
  opacity: 0.5;
}

.notification-creator-link{
  color: var(--orange-color , #ff7f00) !important;
}









