body{
  border: 2px solid #ff9a1a;
  border-radius: 5px;
}

.index-nav{
  display: flex;
  background: #fff;
  position: fixed;
  width: 100%;
  padding: 25px 5%;
  top: 0;
  left: 0;
  box-shadow: 1px 4px 4px -5px rgba(0,0,0, .5);
  border: 2px solid #ff9a1a;
  border-bottom: none;
}

.index-brand{
  width:15%;
}

.index-brand svg{
  fill:#ff9a1a;
  height: 50px;
  transform: scale(1.4);
  width: 50%;
}
.index-navlinks{
  width: 85%;
    display: flex;
    justify-content: flex-end;
}

.index-navlinks a{
  padding: 10px;
  text-transform: uppercase;
  color: #ff9a1a !important;
}

.index-login{
  background: #fff;
  border: 2px solid #ff9a1a;
  margin-right: 10px;
  border-radius: 5px;
}

.index-signup{
  background: #000;
  border: none;
  border-radius: 5px;
}

.index-header{
  text-align: center;
  width:100%;
  height: 300px;
  font-size: 35px;
  margin-top: 100px;
  padding: 120px 0;
}

.index-header svg{
  width:70px;
  height: 70px;
}

.index-header .cls-1{
  fill:#3a3b3b;
}

.index-header .cls-2{
  fill:#ff9a1a;
}

.index-forumscard{
  width: 70%;
  background: #fff;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  margin: 10px auto;
}

.index-forumscard h3{
  color: #ff9a1a;
  border-bottom: 3px solid #ff9a1a;
  width:fit-content;
  margin: 10px auto 5px;
  padding: 15px 0 2px;
}

.index-forumscard-estate{
  display: flex;
  /* margin: 20px 0px; */
}

.index-forumscard-estate-item{
  padding: 20px 0;
  background: #000;
  color: #ff9a1a !important ;
  /* height: 60px; */
  width: 180px;
  text-align: center;
}

.index-forumscard-houses{
  width: calc(100% - 180px);
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

}

.index-forumscard-house{
  color: #ff9a1a !important;
  text-align: center;
  padding: 20px 10px;
}

.index-latestrooms{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: 100px;
}

.index-latestrooms h3{
  color: #ff9a1a;
  border-bottom: 3px solid #ff9a1a;
  width:fit-content;
  margin: 10px auto 5px;
  padding: 15px 0 2px;
}

.index-latestrooms-item {
  display: flex;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  font-size: 15px;
  width: 70%;
  margin: 30px auto;
}

.index-latestrooms-house{
  background: #000;
  width: 25%;
  padding: 10px 0;
  color: #ff9a1a !important;
}

.index-latestrooms-room{
  background: #fff;
  width: 75%;
  padding: 10px 0;
  color: #ff9a1a !important;
}

.footer{
  background: #ff9a1a;
  color: #000;
  text-align: center;
  width: 100%;
  height: 250px;
  margin-top: 100px;
  padding: 40px 0 0;
}

.footer svg{
  width: 80px;
  height: 80px;
  fill: #000;
  margin-bottom: 30px;
}

.footer a{
  border-bottom: 2px solid #000;
  color: #000 !important
}

.footer-copyright{
  font-size: 10px;
}

.loginsection{
  width: 50%;
  margin: 170px auto 70px;
}

.loginsection h2{
  color: #000;
  text-align: center;
  margin: 0 0 30px;
}

.loginsection-yarns{
  color: #ff9a1a;
}

.loginsection form{
  box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  text-align: center;  
  padding: 40px 0 20px;
}

.loginsection input{
  border: none;
  border-bottom: 2px solid #000;
  margin: 20px 10px;
  width: 80%;
}

.loginsection input:focus {
  border-bottom: 2px solid #ff9a1a;
  outline: none;
}

.loginsection button {
  background: #000;
  color: #ff9a1a;
  margin: 20px auto;
  padding: 10px 15px;
  font-size:20px;
  border: none;
  border-radius: 5px;
}