body{
  border: 2px solid #ff7f00;
  border-radius: 5px;
}

.index-nav{
  display: flex;
  background: #fff;
  position: fixed;
  width: 100%;
  padding: 25px 5%;
  top: 0;
  left: 0;
  z-index: 1000;
  /* box-shadow: 1px 4px 4px -5px rgba(0,0,0, .5); */
  border: 2px solid #ff7f00;
  border-bottom: none;
}

.index-brand{
  width:15%;
}

.index-brand svg{
  fill:#ff7f00;
  height: 50px;
  transform: scale(1.4);
  width: 50%;
}
.index-navlinks{
  width: 85%;
    display: flex;
    justify-content: flex-end;
}

.index-navlinks a{
  padding: 10px;
  text-transform: uppercase;
  color: #ff7f00 !important;
}

.index-login{
  background: #fff;
  border: 2px solid #ff7f00;
  margin-right: 10px;
  border-radius: 5px;
}

.index-signup{
  background: #001514;
  border: none;
  border-radius: 5px;
}

.index-header{
  text-align: center;
  width:100%;
  height: 300px;
  font-size: 35px;
  margin-top: 100px;
  padding: 120px 0;
}

.index-header svg{
  width:70px;
  height: 70px;
}

.index-header .cls-1{
  fill:#3a3b3b;
}

.index-header .cls-2{
  fill:#ff7f00;
}

.index-forumscard{
  width: 70%;
  background: #fbfffe;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  margin: 10px auto;
}

.index-forumscard h3{
  color: #ff7f00;
  border-bottom: 3px solid #ff7f00;
  width:fit-content;
  margin: 10px auto 5px;
  padding: 15px 0 2px;
}

.index-forumscard-estate{
  display: flex;
  /* margin: 20px 0px; */
}

.index-forumscard-estate-item{
  padding: 20px 0;
  background: #001514;
  color: #ff7f00 !important ;
  /* height: 60px; */
  width: 180px;
  text-align: center;
}

.index-forumscard-estate-item img{
  margin: 0 10px 0 -15px;
}

.index-forumscard-houses{
  width: calc(100% - 180px);
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

}

.index-forumscard-house{
  color: #ff7f00 !important;
  text-align: center;
  padding: 20px 10px;
}

.index-latestrooms{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: 100px;
}

.index-latestrooms h3{
  color: #ff7f00;
  border-bottom: 3px solid #ff7f00;
  width:fit-content;
  margin: 10px auto 5px;
  padding: 15px 0 2px;
}

.index-latestrooms-item {
  display: flex;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  font-size: 15px;
  width: 70%;
  margin: 30px auto;
}

.index-latestrooms-house{
  background: #001514;
  width: 25%;
  padding: 10px 0;
  color: #ff7f00 !important;
}

.index-latestrooms-room{
  background: #fbfffe;
  width: 75%;
  padding: 10px 0;
  color: #ff7f00 !important;
}

.footer{
  background: #ff7f00;
  color: #001514;
  text-align: center;
  width: 100%;
  height: 250px;
  margin-top: 100px;
  padding: 40px 0 0;
}

.footer svg{
  width: 80px;
  height: 80px;
  fill: #001514;
  margin-bottom: 30px;
}

.footer a{
  border-bottom: 2px solid #001514;
  color: #001514 !important
}

.footer-copyright{
  font-size: 10px;
}

.loginsection{
  width: 50%;
  margin: 170px auto 70px;
}

.loginsection h2{
  color: #001514;
  text-align: center;
  margin: 0 0 30px;
}

.loginsection-yarns{
  color: #ff7f00;
}

.loginsection form{
  box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  text-align: center;  
  padding: 40px 0 20px;
}

.loginsection input{
  border: none;
  border-bottom: 2px solid #001514;
  margin: 20px 10px;
  width: 80%;
}

.loginsection input:focus {
  border-bottom: 2px solid #ff7f00;
  outline: none;
}

.loginsection button {
  background: #001514;
  color: #ff7f00;
  margin: 20px auto;
  padding: 10px 15px;
  font-size:20px;
  border: none;
  border-radius: 5px;
}

.estatedetails-section {
  padding-top: 150px;
}

.estatedetails-section-header{
    display: flex;
    padding: 10px 80px;
    justify-content: space-between;
}

.estatedetails-section-header-estate{
  width: fit-content;
  height: 300px;
  background-color: #ff7f00;
  border-radius: 10px;
  text-align: center;
  padding: 180px 60px 0 15px;
}

.estatedetails-section-header-estate h2{
  font-size: 50px;
  color: #001514;
}

.estatedetails-section-header-houses {
  width: 70%;
  /* box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2); */
  background: #fbfffe;
  text-align: center;
  border-radius: 10px;
}

.estatedetails-section-header-houses h3{
  width: 80%;
  text-align: center;
  border-bottom: 1px solid #ff7f00;
  margin: 20px auto 15px;
  font-size: 30px;
  color: #ff7f00;
}

.estatedetails-section-header-houses-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.estatedetails-section-header-houses-section-link{
  color: #ff7f00;
  font-size: 20px;
  padding: 10px 15px;
}

.estatedetails-section-rooms{
  width: 100%;
  margin-top: 40px;
  position: relative;
  text-align: center;
  padding: 0 80px;
}

.estatedetails-section-rooms h2{
  color: #ff7f00;
  font-size: 40px;
  margin-bottom: 30px;
}

.estatedetails-section-rooms-toggle{
  position: absolute;
  top: 20px;
  right: 80px;
  display: flex;
}

.estatedetails-section-room-toggle-btn{
  color: #ff7f00;
  background: #001514;
  border: none;
}

.estatedetails-section-room-toggle-btn-active{
  background: #fbfffe;
  color: #ff7f00;
  border: none;
}

.estatedetails-section-room-item{
  box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.2);
  padding: 10px 0;
  text-align: center;
  background: #fbfffe;
  color: #ff7f00;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

