.loading-screen{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    padding: 30vh 0;
    z-index: 3000;
}

.loading-screen-spec{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-screen-spec-dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    margin-left: -25px;
    background: rgba(255,127,0, .5);
}

.loading-screen-spec-pulse{
    width: 20px;
    height: 20px;
    border: 10px solid rgba(255,127,0, .3);
    background: rgba(255,127,0, .3);
    opacity: 0;
    border-radius: 50%;
    margin: 0 auto;
    animation: pulsate 1s linear infinite;
}

@keyframes pulsate {
    0%{
        opacity: 0;
        transform: scale(1);
    }

    30%{
        opacity: 1;
        transform: scale(2);
    }

    100%{
        opacity: 0;
        transform: scale(5);
    }
}