.comment{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
  }
  
  .comment .comment-details{
    background: var(--orange-color, #ff7f00);
    width: 100%;
    color: var(--white-color , #fbfffe);
    padding: 3px 10px;
    text-align: center;
    font-size:15px;
    position: relative;
    order: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment .comment-details .comment-details-user{
    font-size: 20px;
    color: var(--white-color , #fbfffe);
    display: block;
    text-align: left;
  }
  
  .comment .comment-details .comment-accolades{
    color: var(--black-color , #001514);
    display: flex;
    align-items: center;
    font-size: 20px;
    position: absolute;
    top: -31px;
    left: 10px;
    z-index: 300;
  }
  
  .comment .comment-details .comment-accolades .comment-accolades-svg{
    width:15px;
    height: 15px;
    margin-left: 3px;
    fill: var(--black-color , #001514);
  }
  
  
  .comment .comment-details .comment-timecreated-time{
    display: block;
  }
  
  .comment .comment-details .comment-timecreated-date{
    display: block;
  }
  
  .comment .comment-details .comment-repliestoggle{
    color: var(--white-color , #fbfffe) !important;
    text-align: center;
  }
  
  .comment .comment-message{
    width: 100%;
    order: 1;
    background: var(--white-color , #fbfffe);
    color: var(--black-color , #001514);
    padding: 35px 60px 30px 10px;
    font-size: 16px;
    position: relative;
    border-radius: 5px;
    min-height: 150px;

  }
  
  .comment .comment-message .comment-room{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 0;
    background: var(--black-color , #001514);
    color: var(--orange-color, #ff7f00) !important;
    padding: 5px 10px;
    font-size: 15px;
  }
  
  
  .comment .comment-message .comment-message-image{
    width: 100%;
    margin-top: 10px;
    max-height: 250px;
    text-align: left;
  }

  .comment .comment-message .comment-message-image img{
    max-width: 100%;
    max-height: inherit;
    border-radius: 5px;
  }
  
  .comment .comment-message .comment-buttons{
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .comment .comment-message .comment-buttons button{
      border-radius: 50%;
      background: var(--orange-color, #ff7f00);
      color: var(--white-color , #fbfffe);
      cursor: pointer;
      width: 50px;
      height: 50px;
      border: none;
      outline: none;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .comment-button-img{
    width: 75%;
    height: 70%;
    margin-bottom: 25%;
  }
  
  .comment-button-svg{
    width: 75%;
    height: 70%;
    fill: var(--white-color , #fbfffe);
  }
  
  .comment .comment-message .comment-buttons button:hover{
    box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
  }
  
  .comment .comment-message .comment-buttons .comment-button-accolades-given{
    margin-right: 10px;
  }
  
  .comment .comment-message .comment-buttons .comment-button-accolades-given .comment-button-svg {
    fill: var(--black-color , #001514);
  }
  
  .comment .comment-message .comment-buttons .comment-button-reply-showing .comment-button-svg {
    fill: var(--black-color , #001514);
  }
  
  .comment .comment-message .comment-button-delete{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    background: var(--orange-color, #ff7f00);
    color: var(--white-color , #fbfffe);
    cursor: pointer;
    outline: none;
    border: none;
    width: 50px;
    border-radius: 0 5px 0 0;
  }
  
  .comment-replies{
    width:80%;
    margin: 10px auto 5px;
  }
  
  .comment-replies .reply{
    display:flex;
    width: 90%;
    margin: 5px 0;
    margin-right: auto;
    box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
  }
  
  .comment-replies .reply-info{
    width: 20%;
    background: var(--orange-color, #ff7f00);
    text-align: center;
    border-radius: 5px 0 0 5px;
    padding: 10px;
  }
  
  .comment-replies .reply-info a{
    color: var(--white-color , #fbfffe) !important;
  }
  
  .comment-replies .reply-message{
    color: var(--black-color , #001514);
    background: var(--white-color , #fbfffe);
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    position: relative;
    width: 80%;
  }
  
  .comment-replies .reply-message .reply-delete{
  
  position: absolute;
  top: 0;
  right: 0;
  background: var(--orange-color, #ff7f00);
  border: none;
  padding: 0 15px;
  color: var(--white-color , #fbfffe);
  }
  
  .comment-reply-form{
    width: 80%;
    background: var(--white-color , #fbfffe);
    box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ; 
    margin: 0 auto;
    margin-top: 10px;
    padding:  0;
    text-align: center;
  }
  
  .comment-reply-textarea{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
  }
  
  /* .comment-reply-textarea:focus{
    border: 1px solid var(--orange-color, #ff7f00);
  } */
  
  .comment-reply-btn{
      background: var(--orange-color, #ff7f00);
      color: var(--white-color , #fbfffe);
      cursor: pointer;
      padding: 10px;
      border: none;
      width:100%;
      font-size: 18px;
  }
  
  .comment-reply-btn:hover{
    box-shadow:  var(--small-box-shadow, 0px 0px 5px 1px rgba(0,0,0, 0.2)) ;
  }

  @media screen and (max-width: 800px){
    .comment .comment-details, .comment-replies .reply-message{
        font-size: 12px;

    }

    .comment .comment-details .comment-details-user , .comment .comment-message{
        font-size: 14px;
    }

    .comment{
      width: 90%;
    }

    .comment .comment-message .comment-room{
      font-size: 12px;
    }

    .comment .comment-message .comment-button-delete{
      font-size: 15px;
      width: 35px;
    }

    .comment .comment-message .comment-buttons button{
      width: 35px;
      height: 35px;
    }

    .comment .comment-message{
      padding: 35px 45px 30px 10px;
      min-height: 100px;
    }

    .comment-reply-form{
      width: 90%;
    }

      .comment-reply-textarea , .comment-reply-form{
        font-size: 14px;
      }
  }
  