.roomdetails-section{
    margin-top: 100px;
  }
  
  .roomdetails-section-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    background: var(--orange-color, #ff7f00);
    min-height: 100px;
    height: fit-content;
    padding: 40px 0 60px;
    position: relative;
  }
  
  .roomdetails-section-commenttitle{
    font-size: 30px;
    color:var(--white-color , #fbfffe);
    width: 100%;
    text-align: center;
  }
  
  .roomdetails-section-commenttitle-wrapper{
      width: 100%;
      padding: 0 10px;
  }

  .roomdetails-section-commentno{
    color: var(--orange-color , #ff7f00);
    background: var(--white-color , #fbfffe);
    border-radius: 2px;
    padding: 3px;
    position: absolute;
    text-align: center;
    bottom: 20px;
    font-size: 10px;
  }

  .roomdetails-section-commentno > span{
    font-size: 1.4em;
  }
  
  .roomdetails-section main {
    width: 100%;
    padding: 30px 0;
    position: relative;
    z-index: 200;
    min-height: 40vh;
  }
  
  .roomdetails-section .roomDetails-addcommenttop{
      text-decoration: none !important;
      color: var(--white-color , #fbfffe) !important;
      background: var(--orange-color, #ff7f00);
      border: none;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 201;
      margin: 0 auto;
      border-radius: 50%;
      font-size: 33px;
      font-family: monospace;
      height: 50px;
      width: 50px;
      transform: scale(1.5);
      text-align: center;
      cursor:pointer;
      border: 1px solid var(--white-color , #fbfffe);
  }

  .roomdetails-section-header-ogas{
    position: absolute;
    border-radius: 2px;
    top: 10px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    font-size: 16px;
    background: var(--white-color , #fbfffe);
    color: var(--orange-color, #ff7f00) !important;
    padding: 0 10px;
    width: fit-content;
  }

  .roomdetails-section-header-estate{
    margin-right: 3px;
    color: var(--orange-color, #ff7f00) !important;
  }

  .roomdetails-section-header-house{
    margin-left: 3px;
    color: var(--orange-color, #ff7f00) !important;
  }

  @media screen and (max-width: 800px){
    .roomdetails-section-commenttitle, .roomdetails-section-commentno{
      font-size: 25px;
    }

    .roomdetails-section-commentno{
      font-size: 9px;
    }
  .roomdetails-section .roomDetails-addcommenttop{
    transform: scale(1.1);
    bottom: 25px;
    right: 25px;
  }

  .roomdetails-section-header-ogas{
    font-size: 13px;
  }

  }

  @media screen and (max-width: 400px){
    .roomdetails-section-commenttitle{
      font-size: 20px;
    }

    .roomdetails-section-commentno{
      font-size: 8px;
    }
    
  }