.estatedetails-section {
    padding-top: 150px;
  }
  
  .estatedetails-section-header{
      display: flex;
      padding: 10px 80px;
      justify-content: space-between;
  }
  
  .estatedetails-section-header-estate{
    width: fit-content;
    height: 300px;
    background-color: var(--orange-color, #ff7f00);
    border-radius: 10px;
    padding: 90px 60px 0 15px;
  }
  
  .estatedetails-section-header-estate img{
    width: 120px;
    margin-bottom: 10px;
  }
  
  .estatedetails-section-header-estate h2{
    font-size: 55px;
    color: #001514;
  }
  
  .estatedetails-section-header-houses {
    width: 70%;
    /* box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2)); */
    background: var(--white-color , #fbfffe);
    text-align: center;
    border-radius: 10px;
  }
  
  .estatedetails-section-header-houses h3{
    width: 80%;
    text-align: center;
    border-bottom: 1px solid var(--orange-color, #ff7f00);
    margin: 20px auto 15px;
    font-size: 30px;
    color: var(--orange-color, #ff7f00) !important;
  }
  
  .estatedetails-section-header-houses-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: center;
  }
  
  .estatedetails-section-header-houses-section-link{
    color: var(--orange-color, #ff7f00) !important;
    font-size: 20px;
    padding: 10px 15px;
  }
  
  .estatedetails-section-rooms{
    width: 100%;
    margin-top: 40px;
    position: relative;
    text-align: center;
  }
  
  .estatedetails-section-rooms h2{
    color: var(--orange-color, #ff7f00) !important;
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .estatedetails-section-rooms-toggle{
    position: absolute;
    top: 10px;
    right: 60px;
    display: flex;
  }
  
  .estatedetails-section-room-toggle-btn{
    color: var(--orange-color, #ff7f00);
    background: var(--black-color , #001514);
    border: none;
    cursor: pointer;
  }
  
  .estatedetails-section-room-toggle-btn-active{
    background: var(--white-color , #fbfffe);
    color: var(--orange-color, #ff7f00);
    border: none;
    cursor: pointer;
  }
  
  .estatedetails-section-room-item{
    box-shadow: var(--large-box-shadow, 0px 0px 15px 2px rgba(0,0,0, 0.2));
    padding: 10px 0;
    text-align: center;
    background: var(--white-color , #fbfffe);
    color: var(--orange-color, #ff7f00) !important;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
  }

  @media screen and (max-width: 700px){
    .estatedetails-section-header{
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .estatedetails-section-header-estate{
        margin: 0px auto 20px;
        height: 200px;
        padding: 35px 60px 0 15px;
    }

    .estatedetails-section-header-estate img{
        width: 100px;
    }

    .estatedetails-section-header-estate h2{
        font-size: 40px;
    }

    .estatedetails-section-header-houses{
        width: 90vw;
    }

    .estatedetails-section-header-houses h3{
        font-size: 25px;
    }

    .estatedetails-section-header-houses-section-link{
        font-size: 15px;
    }

    .estatedetails-section-rooms h2{
        font-size: 25px;
    }

    .estatedetails-section-rooms-toggle{
        top: 5px;
        right: 20px;
        font-size: 12px;
    }
  }